<div class="container mt-5">
  <div class="row mx-auto mt-3 text-center center-block d-flex align-items-center justify-content-center">
     <h1>About</h1>
  </div>
  <div class="row mx-auto mt-3 text-centerd-flex align-items-center justify-content-center text-center background_image">
   <p>ながのCAKEは全国発送可能なケーキ屋さんです。<br/>お子様からお年寄りの方までお召し上がりいただけるよう、<br/>
      様々なバリエーションをご用意しております。<br/>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br/>ぜひご注文ください。
    </p>
  </div>
  <div class="row mx-auto mt-3 text-centerd-flex align-items-center justify-content-center text-center"><%= image_tag 'カップケーキ.jpg' ,size: "700x400"%> </div>

</div>

